<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Monitor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
            socket.on('packet_update', function(packets) {
                var table = document.getElementById('packet-table');
                table.innerHTML = `
                    <tr>
                        <th>Timestamp</th>
                        <th>Source Domain</th>
                        <th>Destination Domain</th>
                        <th>Packet Size (KB)</th>
                        <th>Domen</th>
                    </tr>`;

                // Reverse the order and take the last 20 records
                packets.reverse();
                var displayedPackets = packets.slice(0, 20);

                for (var i = 0; i < displayedPackets.length; i++) {
                    var row = table.insertRow();
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    cell1.innerHTML = displayedPackets[i].timestamp;
                    cell2.innerHTML = displayedPackets[i].src;
                    cell3.innerHTML = displayedPackets[i].dst;
                    cell4.innerHTML = displayedPackets[i].size;
                    cell5.innerHTML = displayedPackets[i].domen;
                }
            });
        });
    </script>
</head>
<body>
<h1>Network Packets</h1>
<table id="packet-table" border="1">
    <tr>
        <th>Timestamp</th>
        <th>Source Domain</th>
        <th>Destination Domain</th>
        <th>Packet Size (KB)</th>
        <th>Domen</th>
    </tr>
    {% for packet in packets[-20:] %}
        <tr>
            <td>{{ packet.timestamp }}</td>
            <td>{{ packet.src }}</td>
            <td>{{ packet.dst }}</td>
            <td>{{ packet.size }} KB</td>
            <td>{{ packet.domen }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
